@import 'C:\Users\w2\Desktop\Finalll\scss\first.scss';




.container-fluid {
  margin: 0;
  padding: 0;
  .row {
    margin: 0;
    padding: 0;
  }
}

.dropdown {
  &:hover {
    > .dropdown-menu {
      display: block;
    }
  }
}
.megamenu {
  position: static;
  .dropdown-menu {
  border: none;
  width: 100%;
  }
}



